html {
  font-size: 16px;
  scrollbar-width: none;
}

html,
body {
  overscroll-behavior: none;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  font-size: calc(.5vw + .5vh + 0.5vmin);
}


.container#pg-1 {
  background-color: #161415;
  color: #f7f4f6;
  border-bottom: 2px solid rgb(74, 74, 74);
}

.container {
  width: 100%;
  height: 100vh;
}

div#scroll {
  position: relative;
  display: flex;
  justify-content: center;
  bottom: -69vh;
  height: 7rem;

  img {
    position: relative;
    width: 3rem;
    height: auto;
    object-fit: contain;
    filter: invert(100);
    animation: move 3s ease-out infinite;
  }
}

@keyframes move {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    transform: translateY(-10px);
  }
}

#pg-1 > #intro {
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  line-height: 2.5rem;
  position: relative;
  width: 97vw;
  top: 75%;
  left: 3%;
}

.container#pg-2 {
  position: absolute;
  background-color: #000000;
  color: #f7f4f6;
  z-index: 0;
  img#logo{
    display: inline;
    z-index: 1;
    position: absolute;
    height: 100vh;
    width: 100vw;
  }
}

/* Define the animation */
@keyframes move-in {
  from {
    width: 0vw; /* Start with 0 viewport width */
  }
  to {
    width: 25vw; /* Animate to 30 viewport width */
  }
}

/* Apply styles to the element */
div#pg-2 > div#side-contact {
  opacity: 0;
  float: left;
  position: inherit;
  background-color: #111111;
  box-shadow: 8px 0 8px -8px rgba(0, 0, 0, 0.2); /* Shadow only on the right */
  transition: 0.3s;
  height: 100vh;
  width: 25%;
  animation: move-in 1.5s ease-in-out 1;
  animation-play-state: paused;
  z-index: 2;

  div#links {
    overflow: hidden;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.27rem;
    line-height: 3.5rem;
    margin: 0 1.5rem;
    color: rgb(208, 208, 208);

    div#email {
      overflow: hidden;
      height: 2.7rem;
      width: auto;
      margin-top: 0.8rem;
      transition: 1.5s;

      div {
        font-size: 1.28rem;
        font-weight: normal;
        margin: 1.25rem 0;
        letter-spacing: normal;
      }
    }
    div#email:hover {
      height: 5.55rem;
    }
    img {
      height: 1.5rem;
      margin-right: 1.5rem;
      filter: invert(100);
      transform: translateY(25%);
    }
  }
}


div#pg-2 > div#introduction {
  opacity: 0;
  color: #ebebeb;
  float: inline-end;
  height: 100vh;
  width: 75vw;
  background: rgba(0, 0, 0, 0);

  div.heading {
    h2 {
      font-size: 1.9rem;
      padding-bottom: 1.5rem;
    }
  }

  div.content-background {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #1a1a1a;
    border-radius: .5rem;
    padding: 2rem 1.5rem;
    margin: 2rem;
  }

  div#about-me {
    display: flex;
    align-items: center;
    div#about-me-content {
      width: 71.306vw;
      height: 38.511vh;
      text-align: left;
      letter-spacing: 0.2rem;
      line-height: 1.8rem;
      font-size: 1.25rem;
      margin-top: 4rem;
    }
  }
  div#skill {

    h3 {
      font-size: 1.4rem;
      font-weight: 500;
      padding-bottom: .75rem;
    }
    div#engine,
    div#programming {
      width: 33vw;
      display: inline-block;
      padding-left: 1rem;

      img {
        filter: invert(100);
        height: calc(3.1vw + 3.1vh + 2vmin);
        width: auto;
      }

      img{
        
        background-color: #d5d5d5b8;
        padding: 15px;
        margin: 1rem;
        margin-right: 0;
        border-radius: 8px;
        text-align: center;
        transition: transform 0.3s ease;
      }

      img:hover{
        
        transform: translateY(-5px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
      }
    }
  }
}
