html {
  font-size: 16px;
  scrollbar-width: none;
}

html,
body {
  overscroll-behavior: none;
}

::-webkit-scrollbar {
  display: none;
}

.container#pg-1 {
  background-color: #161415;
  color: #f7f4f6;
}

.container {
  width: 100%;
  height: 100vh;
}

div#scroll {
  position: relative;
  display: flex;
  justify-content: center;
  bottom: -69vh;
  height: 7rem;
}

img {
  position: relative;
  width: 1.7rem;
  height: auto;
  object-fit: contain;
  filter: invert(100);
  animation: move 3s ease-out infinite;
}

@keyframes move {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    transform: translateY(-10px);
  }
}

#pg-1 > #intro {
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  line-height: 2.5rem;
  position: relative;
  width: 97vw;
  top: 75%;
  left: 3%;
}

.container#pg-2 {
    background-color: #3D3B3C;
    color: #f7f4f6;
  }

div#pg-2 > div#side {
    float: inline-start;
    background-color: #161415;
    height: 100vh;
    width: 30vw;
}

div#pg-2 > div#about-me{
    float: inline-end;
    background-color: inherit;
    height: 100vh;
    width: 70vw;
}
